<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/sidenav" lang="en"> <!-- layout:decorate placeras i rot-`html`-taggen -->

<head>
    <meta charset="UTF-8">
    <title>Home - ProjectKeep</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Referens till din CSS-fil -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="background-image"></div>

<!-- Huvudinnehåll som ska visas i layouten -->
<main>
    <div layout:fragment="mainContent" class="container text-center mt-5"> <!-- layout:fragment -->
        <h1>Welcome to ProjectKeep</h1>
        <p>Explore, create or keep track on your projects by clicking the buttons below.</p>

        <!-- Länkar till Projects och Create Project-sidor -->
        <div class="button-container">
            <a th:href="@{/projects}" class="btn btn-primary btn-lg">View All Projects</a>
            <a th:href="@{/projects/new}" class="btn btn-secondary btn-lg">Create New Project</a>
        </div>
    </div>
</main>
</body>

</html>
