<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/sidenav" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project List - ProjectKeep</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Referens till din CSS-fil -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<main>
    <div layout:fragment="mainContent" class="container text-center mt-5"> <!-- layout:fragment -->
        <h1>All Projects</h1>
        <div class="row">
            <div class="col-md-4" th:each="project : ${projects}">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${project.name}">Project Name</h2>
                        <p class="card-text" th:text="${project.description}">Project Description</p>
                        <p class="card-text" th:text="${project.status}">Project Status</p>
                        <a th:href="${project.link}" class="btn btn-primary">View Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
